doctype
html(lang='en')
  head
    title Monzo transactions
  body
    if user_id
      h1= account.description
      ul
        each transaction in transactions
          li= transaction.description
    else
      a.btn.btn-outline-primary(href='/login') Log in
